<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Lorem Ipsum</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<script src="static/js/generate.js"></script>
                <script src="static/js/jquery-1.9.0.js"></script>
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Lorem Ipsum</h1>
					</header>

					<footer>
						<form>
							<input type="number" id="123" /><br><br>
  						<input type="radio" name="gender" value="paragraph" id="paraPick" checked> Paragraph
  						<input type="radio" name="gender" value="word" id="wordPick"> Word
							<input type="radio" name="gender" value="letter" id="letterPick"> Letter<br><br>
							<input type="checkbox" name="vehicle" value="htmlformat">Include HTML
						</form>


						<button id="generate" onclick="getLorem()">Generate!</button>

					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-left">
				<div id="textOutput">
					<p>  </p>



				</div>

			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="flex flex-2">
					<article>
						<div class="image round">
							<img src="static/images/1.png" alt="Pic 02" style="max-height: 180px;"/>
						</div>
						<header>
							<h3>Anchal Agrawal<br /> CPBU - VIC</h3>
						</header>
						<p>Pellentesque fermentum dolor. Aliquam quam lectus<br />facilisis auctor, ultrices ut, elementum vulputate, nunc<br /> blandit ellenste egestagus commodo.</p>
						<footer>
							<a href="#" class="button">Learn More</a>
						</footer>
					</article>
					<article>
						<div class="image round">
							<img src="static/images/5.jpg" alt="Pic 02" style="max-height: 180px;" />
						</div>
						<header>
							<h3>Neha Repal<br /> NSBU - NSX</h3>
						</header>
						<p>Pellentesque fermentum dolor. Aliquam quam lectus<br />facilisis auctor, ultrices ut, elementum vulputate, nunc<br /> blandit ellenste egestagus commodo.</p>
						<footer>
							<a href="#" class="button">Learn More</a>
						</footer>
					</article>
					<article>
						<div class="image round">
							<img src="static/images/4.jpg" alt="Pic 02" style="max-height: 180px;" />
						</div>
						<header>
							<h3>Chaitanya Datye<br /> SABU - VSAN</h3>
						</header>
						<p>Pellentesque fermentum dolor. Aliquam quam lectus<br />facilisis auctor, ultrices ut, elementum vulputate, nunc<br /> blandit ellenste egestagus commodo.</p>
						<footer>
							<a href="#" class="button">Learn More</a>
						</footer>
					</article>
					<article>
						<div class="image round">
							<img src="static/images/2.png" alt="Pic 02" style="max-height: 180px;" />
						</div>
						<header>
							<h3>Cheng Wang<br /> CPBU - VIC</h3>
						</header>
						<p>Morbi in sem quis dui placerat ornare. Pellentesquenisi<br />euismod in, pharetra a, ultricies in diam sed arcu. Cras<br />consequat  egestas augue vulputate.</p>
						<footer>
							<a href="#" class="button">Learn More</a>
						</footer>
					</article>
					<article>
						<div class="image round">
							<img src="static/images/3.png" alt="Pic 02" style="max-height: 180px;" />
						</div>
						<header>
							<h3>Shan Yang<br /> CNBU - Photon Controller</h3>
						</header>
						<p>Pellentesque fermentum dolor. Aliquam quam lectus<br />facilisis auctor, ultrices ut, elementum vulputate, nunc<br /> blandit ellenste egestagus commodo.</p>
						<footer>
							<a href="#" class="button">Learn More</a>
						</footer>
					</article>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
	</body>
</html>
